foo:-webkit-full-screen, foo:-moz-full-screen, foo:fullscreen {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
